version: '3.8'

services:
  api:
    build: .
    image: hunyuan3d-2:latest
    ports:
      - "8081:8081"
    volumes:
      - ./gradio_cache:/app/gradio_cache
      - ./logs:/app/logs
    environment:
      - CUDA_VISIBLE_DEVICES=0
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  # Prometheus for metrics
  prometheus:
    image: prom/prometheus
    # volumes:
    #   - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
