ninja
pybind11
diffusers
einops
opencv-python
numpy
torch
transformers
torchvision
omegaconf
tqdm

# Mesh Processing
trimesh
pymeshlab
pygltflib
xatlas

# Training
accelerate

# Demo and API Server
gradio
fastapi
uvicorn
onnxruntime
pydantic
prometheus-client
rembg

# Development and Testing
pytest
httpx
ruff
coverage

# Documentation
myst-parser
sphinx-rtd-theme
furo
sphinx-copybutton
sphinx-inline-tabs
nbsphinx
nbsphinx_link
linkify-it-py
linkify
ipython
imageio
scikit_image
matplotlib
munch
cvxpy
tensorboardX
termcolor
huggingface_hub