ninja
pybind11

diffusers
einops
opencv-python
numpy
torch
transformers
torchvision
omegaconf

tqdm

# Mesh Processing
trimesh
pymeshlab
pygltflib
xatlas

# Training
accelerate

# Demo and API Server
gradio
fastapi
uvicorn
onnxruntime
pydantic
prometheus-client