ninja
pybind11

diffusers
einops
opencv-python
numpy
torch
transformers
torchvision
omegaconf

tqdm

# Mesh Processing
trimesh
pymeshlab
pygltflib
xatlas

# Training
accelerate

# Demo only
gradio
fastapi
uvicorn
onnxruntime
pytest
httpx
pydantic
prometheus-client
ruff